.nicetext {
    width: 80ch;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

* {
    max-width: 100%;
}

/* @media screen and (max-width: 80ch) {
    img {
        max-width: 100%;
        height: auto;
    }

    
} */